// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: rgb(61, 134, 218);
$primary-invert: findColorInvert($primary);

$success: rgb(35, 167, 81);
$success-invert: findColorInvert($success);

$danger: rgb(219, 40, 76);
$danger-invert: findColorInvert($danger);

$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
